<div id="block1">
  <div id="block1section1">
    <div id="about">
      <img src="https://images.unsplash.com/photo-1553364851-7de6d86102c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80">
      <div id="aboutContent">
        <h5>ABOUT</h5>
        <br>
        <br>
        <h1>Design cut from a different cloth.</h1>
        <br>
        <h4>Hey there! My name is John Anthony, strategist, designer and founder here at Clickpivot. I use rad design to make cool sh*t happen for growing businesses.</h4>
        <br>
        <h4>Everything I design is customer-driven, because in the end, it’s not about what we think is best—it’s about what engages your customers.</h4>
        <br>
        <h4>Ordinary isn’t my thing, and thanks to my 10+ years of design experience, ordinary doesn’t have to be your thing either!</h4>
      </div>
    </div>
  </div>
  <div id="block1section2"></div>
</div>
<div id="block2"></div>
<div id="block3">
  <div id="block3section1"></div>
  <div id="block3section2"></div>
</div>